@page
@model Hillerød_Sejlklub.Pages.Boats.AllBoatsUserModel
@{
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <script>
        alert('@Html.Raw(Model.ErrorMessage?.Replace("'", "\\'"))');
    </script>
}

<h1>Flåde</h1>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Sejlnummer
            </th>
            <th>
                Type
            </th>
            <th>
                Model
            </th>
            <th>
                Navn
            </th>
            <th>
                Motor
            </th>
            <th>
                Længde
            </th>
            <th>
                Bredde
            </th>
            <th>
                Skrog
            </th>
            <th>
                Book
            </th>
            <th>
                Anmeld skade
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Fleet != null)
        {
            foreach (var item in Model.Fleet)
            {
                <tr>
                    <td>
                        @item.SailNumber
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Model
                    </td>
                    <td>
                        @item.BoatName
                    </td>
                    <td>
                        @item.EngineType
                    </td>
                    <td>
                        @item.Length
                    </td>
                    <td>
                        @item.Width
                    </td>
                    <td>
                        @item.Draft
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm" type="button" title="Book"
                           asp-page="../BookBoats/BookBoat" asp-route-id="@item.Id">Book</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" type="button" title="Anmeld skade"
                           asp-page="../BoatReports/BoatDamageReport" asp-route-id="@item.Id">Anmeld skade</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>