@page
@model Hillerød_Sejlklub.Pages.Boats.AllBoatsModel
@{
}
<h1>Flåde</h1>
<table class="table table-bordered table-hover table-striped">
    <a class="btn btn-success" asp-page="CreateNewBoat">Opret ny båd</a>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Sejlnummer
            </th>
            <th>
                Type
            </th>
            <th>
                Model
            </th>
            <th>
                Navn
            </th>
            <th>
                Motor
            </th>
            <th>
                Længde
            </th>
            <th>
                Bredde
            </th>
            <th>
                Skrog
            </th>
            <th>
                Aktiv
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Fleet != null)
        {
            foreach (var item in Model.Fleet)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.SailNumber
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Model
                    </td>
                    <td>
                        @item.BoatName
                    </td>
                    <td>
                        @item.EngineType
                    </td>
                    <td>
                        @item.Length
                    </td>
                    <td>
                        @item.Width
                    </td>
                    <td>
                        @item.Draft
                    </td>
                    <td>
                        @item.IsBooked
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
