@page
@model Hillerød_Sejlklub.Pages.Users.AllUsersListModel
@{
}
<h1>Medlemmer <a class="btn btn-success" asp-page="CreateUser">Tilføj Medlem</a></h1>



<form method="post">
    <div class="input-group mb-3">
        <input asp-for="SearchTerm" class="form-control mr-1"
               placeholder="Enter search term" />
        <input type="submit" asp-page-handler="SearchUser"
               value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
                <th>
                    Slet medlem
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users != null)
        {
            foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                     @* Form to delete members *@
                    <form method="post"
                          asp-page-handler="Delete"
                          asp-route-id="@item.Id"
                          onsubmit="return confirm('Er du sikker på, at du vil slette denne bruger?');">
                        <button type="submit" class="btn btn-danger btn-sm">
                            Slet
                        </button>
                    </form>  
                    </td>
                </tr>
            }
        }
    </tbody>
</table>